xray_crm/xray_crm/xray.h5
xray_crm/xray_crm/mult_sing.h5
xray_crm/xray_crm/model.zip
xray_crm/xray_crm/images/*
Utilities/*
Annotations/*

xray_crm/xray_crm/__pycache__/*
xray_crm/core/__pycache__/*
xray_crm/patient_files/*